::ng-deep .mat-dialog-container {
  background-color: rgba(200, 200, 200);
}
::ng-deep .mat-stepper-horizontal {
  background-color: transparent;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #5cca87;
}

.round-details {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  color: #35a461;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  margin-bottom: 5px;
}

.date {
  font-size: 15px;
  letter-spacing: 2px;
  font-family: "Istok Web", sans-serif;
  color: #8e9892;
}

.flex-container {
  display: flex;
  align-items: stretch;
  margin-bottom: 10px;
  position: relative;
}

.flex-container > div {
  background-color: white;
  color: black;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.notOutlined:focus {
  outline: none;
}

input {
  font-size: 20px;
  border: 0px;
  width: auto;
  color: gray;
  text-align: left;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

p.year {
  color: #fff;
  letter-spacing: 10px;
  font-size: 14px;
  margin: 10px 0 25px;
  opacity: 0.8;
}
p.year i {
  font-size: 14px;
  vertical-align: middle;
}

.league {
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  color: #5cca87;
  letter-spacing: 6px;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
}

.add-btn{
    background-color: #5cca87;
    color: white;
    position: absolute;
    box-shadow: none;
    right: 5px;
    top: 5px;
}