<header class="hero">
  <div class="hero-wrap">
    <p class="intro" id="intro">Cuadro de Copa</p>
    <h1 id="headline">Diversificación</h1>
    <p class="year"><i class="fa fa-star"></i> 2020-2021 <i class="fa fa-star"></i></p>
    <p>DISCAPACILeague</p>
  </div>
</header>


<section id="bracket">
  <div class="container">
    <div class="split split-one">
      <div class="round round-one">
        <div class="round-details">Ronda 1<br /><span class="date">Jornada 1</span></div>
        <ul class="matchup">
          <li class="team team-top won">Comandante Aranda<span class="score">3</span></li>
          <li class="team team-bottom">Bye<span class="score">0</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top won">Rozalén<span class="score">2</span></li>
          <li class="team team-bottom">Sergio<span class="score">1</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top won">Tello<span class="score">3</span></li>
          <li class="team team-bottom">Jorge Díaz Toledano<span class="score">0</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top won">Javy Fray<span class="score">3</span></li>
          <li class="team team-bottom">Jesus Sanchez Galán<span class="score">0</span></li>
        </ul>
        
      </div> <!-- END ROUND ONE -->

      <div class="round round-two">
        <div class="round-details">Ronda 2<br /><span class="date">Jornada 4</span></div>
        <ul class="matchup">
          <li class="team team-top">Comandante Aranda<span class="score">0</span></li>
          <li class="team team-bottom won">Rozalén<span class="score">3</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Tello<span class="score">0</span></li>
          <li class="team team-bottom won">Javy Fray<span class="score">3</span></li>
        </ul>
      </div> <!-- END ROUND TWO -->

      <div class="round round-three">
        <div class="round-details">Ronda 3<br /><span class="date">Jornada 7</span></div>
        <ul class="matchup">
          <li class="team team-top won">Rozalén<span class="score">3</span></li>
          <li class="team team-bottom">Javy Fray<span class="score">0</span></li>
        </ul>
      </div> <!-- END ROUND THREE -->
    </div>

    <div class="champion">
      <!-- <div class="semis-l">
        <div class="round-details">west semifinals <br /><span class="date">Jornada 10</span></div>
        <ul class="matchup championship">
          <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
        </ul>
      </div> -->
      <div class="final current">
        <i class="fa fa-trophy"></i>
        <div class="round-details">Final <br /><span class="date">Jornada 16</span></div>
        <ul class="matchup championship">
          <li class="team team-top">Rozalén<span class="score">3</span></li>
          <li class="team team-bottom">DavidDB<span class="score">0</span></li>
        </ul>
      </div>
      <!-- <div class="semis-r">
        <div class="round-details">east semifinals <br /><span class="date">Jornada 20</span></div>
        <ul class="matchup championship">
          <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
        </ul>
      </div> -->
    </div>


    <div class="split split-two">


      <div class="round round-three">
        <div class="round-details">Ronda 3<br /><span class="date">Jornada 22</span></div>
        <ul class="matchup">
          <li class="team team-top">Sete<span class="score">0</span></li>
          <li class="team team-bottom won">DavidDB<span class="score">3</span></li>
        </ul>
      </div> 

      <div class="round round-two">
        <div class="round-details">Ronda 2<br /><span class="date">Jornada 18</span></div>
        <ul class="matchup">
          <li class="team team-top">Pablo<span class="score">0</span></li>
          <li class="team team-bottom won">Sete<span class="score">3</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top won">DavidDB<span class="score">3</span></li>
          <li class="team team-bottom">Ivandelacal<span class="score">0</span></li>
        </ul>
      </div> 
      <div class="round round-one">
        <div class="round-details">Ronda 1<br /><span class="date">Jornada 16</span></div>
        <ul class="matchup">
          <li class="team team-top won">Pablo<span class="score">3</span></li>
          <li class="team team-bottom">Bye<span class="score">0</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top won">Sete<span class="score">3</span></li>
          <li class="team team-bottom">Josi21<span class="score">0</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top won">DavidDB<span class="score">3</span></li>
          <li class="team team-bottom">Bye<span class="score">0</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top won">Ivandelacal<span class="score">3</span></li>
          <li class="team team-bottom">Javier Suela Oliva<span class="score">0</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="share">
  <div class="share-wrap">
    <a class="share-icon" href="https://github.com/MiguelRozalen/" target="_new"><i class="fa fa-github"></i></a>
  </div>
</section>