<header class="hero">
  <div class="hero-wrap">
    <p class="intro notOutlined" id="intro" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
      contenteditable="true" [textContent]="championship.description"
      (input)="championship.description=$event.target.textContent"></p>
    <h1 id="headline" class="notOutlined" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
      contenteditable="true" [textContent]="championship.name" (input)="championship.name=$event.target.textContent">
    </h1>
    <p class="year">
      <i class="fa fa-star"></i>
      <span class="notOutlined" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
        contenteditable="true" [textContent]="championship.season"
        (input)="championship.season=$event.target.textContent"></span>
      <i class="fa fa-star"></i></p>
    <p class="notOutlined" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
      contenteditable="true" [textContent]="championship.league"
      (input)="championship.league=$event.target.textContent"></p>

    <button mat-stroked-button>Load Championship</button>
    <button mat-flat-button style="margin-left:20px; background-color: #5cca87">New Championship</button>
  </div>
</header>

<section id="bracket">
  <div class="container">

    <div class="split split-one">
      <div class="round" [ngClass]="{current:index==championship?.roundActive}"
        *ngFor="let round of championship?.rounds | slice:0:championship?.rounds?.length-2 ; let index=index">
        <div class="round-details">{{round?.name}}<br /><span class="date">{{round?.description}}</span></div>
        <ul class="matchup" [style.paddingTop.px]="getPadding(index)" [style.paddingBottom.px]="getPadding(index)"
          *ngFor="let match of round?.matches | slice:0:(round?.matches?.length/2)">
          <li (click)="setResult(match, round, championship)" class="team team-top"
            [ngClass]="{won: match?.winner==match?.playerA}">
            {{match?.playerA?.name}}
            <span class="score" [style.color]="match?.totalA>match?.totalB?'#35a461':'gray'">{{match?.totalA}}</span>
          </li>
          <li (click)="setResult(match, round, championship)" class="team team-bottom"
            [ngClass]="{won: match?.winner==match?.playerB}">{{match?.playerB?.name}}
            <span class="score" [style.color]="match?.totalA<match?.totalB?'#35a461':'gray'">{{match?.totalB}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="champion">
      <div class="semis-l">
        <div class="round-details">Left Semifinals <br /><span class="date">Jornada 10</span></div>
        <ul class="matchup championship">
          <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
        </ul>
      </div>
      <div class="final">
        <i class="fa fa-trophy"></i>
        <div class="round-details">Final <br /><span class="date">Jornada 16</span></div>
        <ul class="matchup championship">
          <li style="text-align: left" class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
          <li style="text-align: left" class="team team-bottom ">&nbsp;<span class="score">&nbsp;</span></li>
        </ul>
      </div>
      <div class="semis-r">
        <div class="round-details">Right Semifinals <br /><span class="date">Jornada 20</span></div>
        <ul class="matchup championship">
          <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
        </ul>
      </div>
    </div>


    <div class="split split-two">
      <div class="round" [ngClass]="{current:championship?.rounds?.length-2-index-1==championship?.roundActive}"
        *ngFor="let round of (championship?.rounds | slice:0:championship?.rounds?.length-2).reverse(); let index=index">
        <div class="round-details">{{round?.name}}<br /><span class="date">{{round?.description}}</span></div>
        <ul class="matchup"
          [style.paddingTop.px]="getPadding((championship?.rounds | slice:0:championship?.rounds?.length-2).length-1 - index)"
          [style.paddingBottom.px]="getPadding((championship?.rounds | slice:0:championship?.rounds?.length-2).length-1 - index)"
          *ngFor="let match of round?.matches | slice:(round?.matches?.length/2):round?.matches?.length">
          <li (click)="setResult(match, round, championship)" class="team team-top"
            [ngClass]="{won: match?.winner==match?.playerA}">
            {{match?.playerA?.name}}
            <span class="score" [style.color]="match?.totalA>match?.totalB?'#35a461':'gray'">{{match?.totalA}}</span>
          </li>
          <li (click)="setResult(match, round, championship)" class="team team-bottom"
            [ngClass]="{won: match?.winner==match?.playerB}">{{match?.playerB?.name}}
            <span class="score" [style.color]="match?.totalA<match?.totalB?'#35a461':'gray'">{{match?.totalB}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="share">
  <div class="share-wrap">
    <a class="share-icon" href="https://github.com/MiguelRozalen/" target="_new"><i class="fa fa-github"></i></a>
  </div>
</section>

<button matTooltip="Load Championship" style="position: fixed; bottom: 125px; right: 15px; background-color: #5cca87;"
  mat-mini-fab color="accent">
  <mat-icon class="floating-button-icon">save</mat-icon>
</button>

<button matTooltip="Save Championship" (click)="saveChampionship()"
  style="position: fixed; bottom: 70px; right: 15px; background-color: #5cca87;" mat-mini-fab color="accent">
  <mat-icon class="floating-button-icon">save_alt</mat-icon>
</button>


<button matTooltip="New Championship" style="position: fixed; bottom: 15px; right: 15px; background-color: #5cca87;"
  mat-mini-fab color="accent">
  <mat-icon class="floating-button-icon">add</mat-icon>
</button>